body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: #eaeaea;
}

a {
    text-decoration: none;
    color: inherit;
}
.leftBlock {
    float: left;
}

.rightBlock {
    float: right;
}

.clearFix {
    clear: both;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #121212;
    color: #ffffff;
    margin-top: 0;
}

.displayWeatherInfo {
    width: 50%;
    min-height: 600px;
height: auto;
    margin: 0 auto;
    background: #ffffff;

    box-shadow: 1px 3px 10px #05050566;
    border-radius: 10px;
    padding: 15px;
}

input {
    min-width: 250px;
    height: 35px;
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #cecece;

    font-size: 1.25rem;
    line-height: normal;

}

.submitBtn {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.btn,
.btn-long {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #5900ff;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all ease;
    font-size: 1rem;

}

.btn-long {
    width: 250px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    border: 1px solid #5900ff;
    background: #4400c4;
    color: #ffffff;
    box-shadow: 2px 2px 10px 0px #5900ff1f;
    transition: 0.2s all ease;
}

.btn:focus,
input:focus {
    outline: none;
}

 ul {
     padding: 0;
     margin: 0;
 }
li {
    list-style: none;
}
 .userQuery li {
  
    padding: 15px;
    text-align: center;

}

.userInput > input {
    padding-left: 15px;
}

.qureyResult {
    width: 80%;
    border: 1px solid;
    margin: 25px auto;

}
.queryResult {
    display: none;
}
.queryResult ul {
    font-size: 20px; 
    text-align: left;
    padding: 20px;

}

.queryDetails {
    margin-top: 35px;
    margin: 0 auto;
    font-size: 20px;
    width: 70%;
}

.queryDetails td{
box-sizing: border-box;
}


.values {
    font-size: 24px;
    color: #5900ff;
}

.error {

    color: #ff0000;
    font-size: 16px;
    transition: .05s all ease-in-out;
}

.currTemp {
    line-height: 90px;
}

#currentTemperature {
    font-size: 4rem;
}

.goBack p{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
footer {
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    background-color: #121212;
    color: #ffffff;
 
  }
.smallFont {
    font-size: 14px;
    font-weight: 100;
}

td {
    margin: 10px;
}
/* ================== Media queries ==================== */
  @media all and (max-width:320px) { 
    input#zipCode {
        min-width:180px !important;
        padding: 5px;
        margin: 0;
    }
    .userInput > input {
        padding-left: 10px !important;
    }
  }
  @media all and (max-width:786px) {
    .displayWeatherInfo { 

        width: 80%;
    }
    .queryResult {
        margin-top:25px; 
    }
    .queryDetails{

        width: 100% !important;
    }
    table {
 
    border-spacing: 8px !important;
     
} 
td {
    display: block;
}
.userQuery li p {
    text-align: center !important;
}
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 786px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .displayWeatherInfo { 

        width: 80%;
    }
    .queryResult {
        margin-top:25px; 
    }
.queryDetails{

    width: 100% !important;
} 
.userInput > input {
    padding-left: 15px !important;
}
table {
    border-spacing: 2px;
}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

@media all and (max-width:360px) {

    input#zipCode {
        min-width:200px !important;
        padding: 5px;
        margin: 0;
    }

    .userQuery li {
        padding: 5px;
        text-align: center;
    }
    .userInput > input {
        padding-left: 15px;
    }
    table {
        border-spacing: 2px;
    }
}